section{
  margin: 0;
  font-family: Arial, sans-serif;
}

#grad1 {
  background: linear-gradient(to right, #2b2b2bd5, #0000009d);
  min-height: 100vh;
}

.header {
  background-color: #333;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  display: inline-block;
  padding: 2px;
}

.nav li a.list {
  color: white;
  text-decoration: none;
}

.nav li a.active {
  color: #94901a;
}

.nav input[type="text"] {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: ">";
}

ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.ratings-heading {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align:center;
  font-size: 55px;
  margin-top: 20px;
  color:#ffffff;
}

.ratings-content {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin: 60px 70px;
}

.search-box input[type="text"] {
  width: 270px;
  padding: 10px;
  border-radius: 20px;
  border:#FFF;
  outline:#FFF;
}

.nominee-container {
  width: 60%;
  max-height: 600px;
  overflow-y:scroll;
}

.nominee {
  display: flex;
  align-items:center;
  margin-bottom: 5px;
  background-color: #000000d9;
  padding: 15px;
  border-radius: 8px;
}

.nominee img {
  width: 140px;
  height: 180px;
  border-radius: 8px;
  margin-right: 20px;
}

.nominee-info {
  flex: 1;
}

.nominee-title {
  font-size: 25px;
  margin-bottom: 15px;
}

.nominee-description {
  font-size: 15px;
  color: #aab13cce;
  margin-bottom: 10px;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rating-stars input[type="radio"] {
  display:none;
}

.rating-stars label {
  font-size: 24px;
  color: #ffffffd6;
  cursor:pointer;
}

.rating-stars label:before {
  content: "\f005";
  font-family:FontAwesome;
}

.rating-stars input[type="radio"]:checked ~ label:before {
  color: #FFD700;
}

.submit-btn {
  background-color: #40a143;
  border: none;
  color: rgb(253, 253, 253);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.chart {
  width: 20%;
  background-color: #8d8c8c21;
  padding: 70px;
  border-radius: 40px;
}

.chart-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-bottom: 45px;
  color: #f3ce13;
}

.bar-container {
  display:flex;
  flex-direction: column-reverse;
}

.bar {
  margin-bottom: 20px;
}

.bar-fill {
  background-color: #34a734;
  height:20px;
  border-radius: 4px;
}

.bar-text {
  font-size: 15px;
  color: #ffffff;
  margin-top: 5px;
}