/* shop.css */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: ">";
}

ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

h1.items-heading {
      text-align: center;
      font-family:serif;
      font-size: 60px;
      color: rgb(184, 197, 36);
      padding-top: 10px;
    }

/* Styles for the product container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding:20px;
}

/* Styles for each product */
.product {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for product images */
.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-images img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

/* Styles for product name */
.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

/* Styles for product price */
.product p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Styles for buy now button */
.buy-now-btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.buy-now-btn:hover {
  background-color: #45a049;
}

.cart-icon {
  position: absolute;
  top: 300px; /* Adjust this value based on your navigation bar height */
  right: 20px;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.cart-icon:hover {
  color: #4CAF50;
}

/* Add this style to hide the product details initially */
.product-details {
  display: none;
}

/* Add this style to show the product details when the product is clicked */
.product.clicked .product-details {
  display: block;
}









