
/*login , sign up */
form{
	width:500px;
	margin:auto;
	padding:30px;
	background:#D3D3D3;
	font-size:15px;
	font-family:Verdana;
	color:black;
}

form .error-msg{
	margin:10px 0;
	display: block;
	background:crimson;
	color:#fff;
	border-radius:5px;
	font-size:20px;
	padding:10px;
}

form h2{
	text-align: center;
}

.box{
  width: 90%;
  padding: 15px;
  margin: 5px 0 30px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.submitBtn {
  width: 25%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
	
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: ">";
}

ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

form{
	background-color: #414141;
}

h1{
	color: white;
}

h5{
	color: white;
}


.link1{
	font-style:bold;
	color: dodgerblue;
	font-size:16px;
	text-decoration: none;
	opacity: 0.7;
}

p{
	color: white;
}
